---
import type { Hero } from '../../sanity.types';
import Section from '../layouts/Section.astro';

const { section } = Astro.props;
---

<Section section={section}>
  <div class="section-container">
    <div class="section-content">
      <h1>{section.heading}</h1>
      <p>{section.subHeading}</p>
      <a href={section.ctaLink} class="cta-link">{section.ctaText}</a>
    </div>
  </div>
</Section>
<style>
  @reference './../styles/global.css';
  .section-container {
    @apply flex h-96 w-full justify-center gap-8 p-8;
  }

  .section-content {
    @apply flex min-w-xl flex-col gap-2 rounded-lg bg-[var(--accentBg)]/25 p-8 dark:bg-[var(--accentBgDark)]/25;
  }
</style>
