---
import type { Hero } from '../../sanity.types';
import Section from '../layouts/Section.astro';

const { section } = Astro.props;
---

<Section section={section}>
  <div id="hero">
    <h1>{section.heading}</h1>
    <p>{section.subHeading}</p>
    <a href={section.ctaLink} class="cta-link">{section.ctaText}</a>
  </div>
</Section>
<style>
  #hero {
    @apply h-screen;
  }
</style>
